*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1280px;
}


.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    gap: 30px;
}

.hero-content {
    flex: 1;
    max-width: 1280px;
}

.subtitle {
    color: #ff85a2;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.main-title {
    color: #6c63ff;
    font-size: 40px;
    margin-bottom: 20px;
}

.description {
    color: #777;
    margin-bottom: 30px;
    line-height: 1.6;
}

.button-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.see-live {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #6c63ff;
}

.play-icon {
    width: 25px;
    height: 25px;
    border: 1px solid #6c63ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.case-study {
    color: #999;
    text-decoration: none;
}

.hero-illustration {
    flex: 1;
    text-align: right;
    
}

.hero-illustration img {
    max-width: 100%;
    height: auto;
}